*{

    margin: 0px;
    
}
/* shared style */
        .display-flex{

            display: flex;
        }

        .text-primary{
            color: #FF900E;
        }
        /* dark02 */
        .text-gray{
            color: #424242;
            
        }
        /* dark03 */
        .text-light-gray{
            color: #727272;
        }

        /* background light */
        .bg-light{
            background-color:rgba(255, 144, 14, 0.1);
            
        }

        /* primary button  */
        .btn-primary{
            background-color: #FF900E;
            color: white;
            padding: 21px 35px;
            font-size: 1.25rem;
            font-weight: 600;
            border-radius: 10px;
            border: none;
        }
        main{
            max-width: 1440px;
            margin: 0 auto;
        }


        main >section{
            margin-top: 100px;
        }

/* header style */




/* navbar related style */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    
}
.nav-link:hover{
    color: red;
}

.navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
    

}

/* banner related style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}

/* team and feature related style  */
.teams{
    align-items: center;
    gap: 44px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    
}
.our-features{
    max-width: 530px;
  

}
.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}

#quick-list{
    font-weight: 500;
}

/*  responsive media query*/
@media screen and (max-width:576px){
    .navbar ,.nav-links, .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .teams{
        text-align: center;
        gap: 2px;
    }
     .btn-primary{
        margin-top: 20px;
    }

   
}

/* medium size device */
@media screen and (min-width:576px) and (max-width:992px){
    .teams{
        flex-direction: column;
    }
    .our-features{
        text-align: center;
    }
    .btn-primary{
        margin-top: 20px;
    }
    
}